table.invites-table td {
	padding: 5px 15px;
}

table.invites-table thead {
	background-color: #DDD;
}

table.invites-users-table td {
	padding: 5px 15px;
}

table.invites-users-table thead {
	background-color: #DDD;
}